<% include partials/header %>

<!--Section: Contact v.2-->
<section class="section mb-5">
  <div class="container">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Contactame</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Tienes alguna pregunta? Por favor no dudes en contactarme. Muy pronto estare contestandote.</p>

    <div class="row d-flex justify-content-around">




        <!--Grid column-->
        <div class="col-md-3 text-center ">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>+ 054 03447-15401453</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>leanalvarez.dev@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>
  </div>


</section>
<!--Section: Contact v.2-->

<% include partials/footer %>
