<% include partials/header.ejs %>

<section>
  <header class="header content justify-content-center ">
      <div class="header-video ">
        <video src="img/video/video.mp4" autoplay loop poster="posterimage.jpg"></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content  ">
          <h1>Lean Alvarez</h1>
          <p>Desarrollo Web Para Negocios</p>
          <a class="btn" href="/cv">Acerca de Mi</a>
      </div>
  </header>
</section>



<% include partials/footer %>
