<% include partials/header.ejs %>

<%# inicio de pagina %>
<section>
  <header class="header content justify-content-center ">
      <div class="header-video z-depth-5">
        <video src="img/video/video.mp4" autoplay loop poster="posterimage.jpg"></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content  ">
          <h1>Lean Alvarez</h1>
          <p>Desarrollo Web Para Negocios</p>
          <a class="btn" href="/cv">Acerca de Mi</a>
      </div>
  </header>
</section>

<%# inicio de pagina %>

<br>

<h2 class="display-3 text-center font-weight-bold mb-4">Tu negocio en más visible</h2>
<div class="container">
  <div class="row">
    <p class="text-justify text-monospace">Ya no se puede ignorar la importancia de internet en las empresas. A medida que ha evolucionado el mercado,
        es mucho más fácil que cualquier persona u organización tenga una presencia en línea importante.
        Hoy, para ser competitivo, es fundamental tener un sitio web y cuentas en las principales redes sociales.</p>
  </div>
</div>


<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 ">
      <i class="fa fa-globe fa-3x red-text d-flex justify-content-center" aria-hidden="true"></i>
      <p class="mt-4 font-italic">casi 3.300 millones de personas están en internet. Aunque es posible que encuentren información sobre tu empresa
          de otra manera, es un error estratégico no estar cerca de esa población conectada. Es más, de la gente que usa internet,
          el 90% dijo que tuvo alguna interacción con una empresa en línea en los más recientes 12 meses.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-star fa-3x cyan-text d-flex justify-content-center" aria-hidden="true"></i>

      <p class="mt-4 font-italic">Una página bien hecha y bien cuidada se puede convertir en un canal de servicio al cliente. Esto, si se hace bien,
        puede marcar la diferencia frente a la competencia y convertirse en un valor agregado.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-users fa-3x d-flex orange-text justify-content-center" aria-hidden="true"></i>
      <p class="mt-4 font-italic">Un sitio web está abierto 24 horas al día, siete días a la semana. Esto les permite a los potenciales clientes encontrar información sobre la empresa en cualquier momento del día.
          Hoy es imposible predecir cuándo un usuario buscará la información, por lo que es fundamental que siempre esté en línea.</p>
    </div>
  </div>
</div>



<% include partials/footer %>
