<% include partials/header %>

<%# Info Portfolio %>
<section class="">
  <div class="container">
    <!-- Section: Features v.1 -->
    <section class="text-center my-5 ">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold my-5 mt-5">Servicios</h2>
      <!-- Section description -->
      <p class="lead grey-text w-responsive mx-auto mb-5">Quiero ayudarte a que tu negocio sea exitoso, ya sea que empiezas de cero o si ya tienes una página, Me encargo de ayudarte en todas las areas para que así sea.</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-desktop fa-3x red-text"></i>
          <h5 class="font-weight-bold my-4">Desktop</h5>
          <p class="grey-text mb-md-0 mb-5">Desarrollo web orientado a incrementar la cantidad de visitas en tu página. Un enfoque totalmente pensado para atraer nuevos clientes a tu negocio.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-mobile fa-3x cyan-text"></i>
          <h5 class="font-weight-bold my-4">Responsive</h5>
          <p class="grey-text mb-md-0 mb-5">La mayoria de tu público objetivo te encontrara desde su celular, por eso desarrollo de manera responsiva para que se vea bien, tanto en pc's de escritorio como en moviles, te invito a que hagas la prueba con ésta pagina.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-comments-o fa-3x orange-text"></i>
          <h5 class="font-weight-bold my-4">Soporte y auditoria</h5>
          <p class="grey-text mb-0">Ya tenes una pagina? Queres darle un nuevo estilo? Queres aumentar tus visitas?.Tambien ofrezco el servicio de auditoria y soporte,para que tu página aumente los visitantes y que tu negocio tenga mas visibilidad!
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mt-5 ">

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-laptop fa-3x red-text"></i>
          <h5 class="font-weight-bold my-4">Diseño</h5>
          <p class="grey-text mb-md-0 mb-5">Desarrollo Sitios Web con las últimas tendencias en diseño y programación procuro Mantener una estructura que me permite desarrollar Sitios Web integrales para cada caso. Trabajo de manera rápida, eficaz conjunta con el cliente para lograr una solución a cada problema, asesorando y coordinando hasta el último detalle.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-line-chart fa-3x cyan-text"></i>
          <h5 class="font-weight-bold my-4">Posicionamiento - SEO </h5>
          <p class="grey-text mb-md-0 mb-5">Es importante optimizar su página para motores de búsqueda, hacerle SEO a su página? Para que las personas que están haciendo búsquedas en Google (sus clientes potenciales), descubran su sitio y su maravilloso contenido (productos, artículos, eBook, blog, etc.), lo que a su vez llevará a una venta.
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <i class="fa fa-bullseye fa-3x orange-text"></i>
          <h5 class="font-weight-bold my-4">Marketing Digital</h5>
          <p class="grey-text mb-0">Tener estrategias de Marketing Digital sin duda alguna permite generar transacciones y ventas de manera inmediata. es por eso que una estrategia digital debe incluir todos los espacios relevantes en donde el target interactúe.
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Features v.1 -->

  </div>


  


  </section>
  <%# /Info Portfolio %>



<% include partials/footer %>
